{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2 class="text-center mb-4">Изменение Пароля</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="card p-4 shadow">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success w-100">
                    Изменить
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}