{% extends 'base.html' %}
{% block main %}
    <div class="container mt-4">
        <h2 class="mb-3">
            Создать Пост
        </h2>
         <form method="post" class="card p-4 shadow-sm" enctype="multipart/form-data"> {% comment %} Понимает что принимает еще и медиа файлы  {% endcomment %}
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title.label_tag }} 
                {{ form.title }}
            </div>
            <div class="mb-3">
                {{ form.content.label_tag }}
                {{ form.content }}
            </div>
            <h4 class="mt-4">
                Медиа файлы
            </h4>
            {{ media_formset.management_form }}

            {% for media_form in media_formset %}
                <div class="border rounded p-3 mb-3">
                {{ media_form.url.label_tag }}
                {{ media_form.url }}
                {{ media_form.file.label_tag }}
                {{ media_form.file }}                
                </div>
            {% endfor %}

            <button type="submit" class="btn-primary">
                Опубликовать
            </button>
        </form>
    </div>
{% endblock main %}
