{% extends 'base.html' %}
{% block main %}
<div class="container mt-4">
    <div class="d-flex justify-contrnt-between align-items mb-3">
        <h2>
            Посты
        </h2>
        <a href="{% url 'post-create' %}" class="btn btn-success nav-link">
            Добавить Пост
        </a>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            {% include 'components/post_card.html' %}
        </div>
        {% empty %}
        <p>Постов пока что нет</p>
        {% endfor %}
    </div>
</div>
{% endblock main %}

