{% extends 'base.html' %}
{% block main %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card shadow-lg p-4 border-0">
            <div class="card-body text-center">
                <h2 class="text-danger mb-4">
                    Хотите удалить Пост?
                </h2>
                <p class="fs-5">
                    вы уверены что хотите удалить Пост? <strong>{{ object.title }}</strong>
                </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="#" class="btn btn-secondary px-4">
                            Отмена
                        </a>
                        <button class="btn btn-danger px-4" type="submit">
                            Удалить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}