{% extends 'base.html' %}

{% block main %}
<div class="container mt-4">
    <div class="card shadow-sm">
        {% if post.get_first_media %}
            {% if post.get_first_media.url %}
            <img src="{{ post.get_first_media.url }}" alt="" class="card-img-top img-fluid">
            {% else %}
            <img src="{{ post.get_first_media.file.url }}" alt="" class="card-img-top img-fluid">
            {% endif %}
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">
                {{ post.title }}
            </h2>
            <p class="text-muted">
                Автор: {{ post.author.username }}
            </p>
            <p class="text-muted">
                Дата создания: {{ post.created_at }} 
            </p>
            <p class="card-text">
                {{ post.content }}
            </p>
            <div class="d-flex justify-content-betweeen">
                <a href="#" class="btn btn-outline-success">
                    Лайк {{ post.likes_count }}
                </a>
                <a href="#" class="btn btn-outline-danger">
                    Дизлайк {{ post.dislikes_count }}
                </a>
            </div>
            <div class="d-flex justify-content-betweeen">
                <div class="d-flex gap-2">
                    <a href="#" class="btn btn-outline-warning">
                        Изменить
                    </a>
                    <a href="#" class="btn btn-outline-danger">
                        Удалить
                    </a>
                </div>    
            </div>
        </div>
    </div>
    {% if post.images %}
    <h3 class="mt-4">
        Галерея
    </h3>
    <div class="row">
        {% for image in post.images %}
        <div class="col-m-4 mb-3">
            {% if image.url %}
            <img src="{{ image.url }}" alt="" class="img-fluid rounded shadow-sm">
            {% else %}
            <img src="{{ image.file.url }}" alt="" class="img-fluid rounded shadow-sm">
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock main %}










