{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2 class="text-center mb-4">
        Регистрация
    </h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="card p-4 shadow">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">
                    Зарегаться
                </button>
                <p class="text-center mt-3">
                    Уже имеется аккаунт? <a href="{% url 'login' %}">Войти</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock main %}